<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826035679089-9ld5jfdiidvhu8b917vkk00pk5gigncb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826035679089-9ld5jfdiidvhu8b917vkk00pk5gigncb</string>
	<key>API_KEY</key>
	<string>AIzaSyAqAnmrX124pPoi3tIYg9VLINUzVrIq54g</string>
	<key>GCM_SENDER_ID</key>
	<string>826035679089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.demo.app</string>
	<key>PROJECT_ID</key>
	<string>demoappplaces-bf5b4</string>
	<key>STORAGE_BUCKET</key>
	<string>demoappplaces-bf5b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826035679089:ios:ecf3888118064a14e710d0</string>
	<key>DATABASE_URL</key>
	<string>https://demoappplaces-bf5b4.firebaseio.com</string>
</dict>
</plist>